$font-style: 'Orbitron', sans-serif;
$bg-color: black;
$can-bg: white;
$can-width: 900px;
$can-height: 600px;
$h1-color: white;
$h1-shadow: 3px 3px #ff0000ad;
$aside-font-weight: 400;
$aside-border: 2px solid #ff0000ad;
$aside-bg: lightgray;
$foot-bg: #ff0000ad;
$border-radius: 12px;
